<html>
<head><link rel="stylesheet" href="/css/mystyle.css" /></head>
<body>
  <footer>
      <!------------------------------About----------------------------------------------------->
		 <div class="jumbotron" style="background-color: rgb(180, 70, 76);" data-aos="fade-up" id=about>
            <div class="container-fluid" >
                <h1 style="font-size: 44px; opacity: 1;  font-family: andrade_probold; text-align: left;">ABOUT US</h1>
                <b class="text-white">Summer-Shop is a Staionary Store .In which we provide some stationary items like pen,pencil and many more things. Delhivery charges does not include .One day Delivery is possible here .We provide the items in one day delivery without extra charges.Lets start for shopping .
                <button class="btn" style="background-color:purple;">+</button>
                </div>
            </div>
<br>
<br>
  
   <!-------------------------------------CONTACT US--------------------------------------------->

   <div class="jumbotron img-contact " data-aos="fade-up" style="background-color:  rgb(180, 70, 76);">
   <div class=" row">
   <div class=" col-lg-6 col-md-5 col-sm-5 col-12   ">
   <div>
          <h1>Contact Us:</h1>
       <pre class="font-weight-bold">Adjacent to DLF Qutab Enclave,
Phase-1, Gurgaon -122002| Map
Email:contact@abc.com
Phoneno:+91124455666|+91124455777</pre>
</div>
   </div>
   <div class=" col-lg-6 col-md-5 col-sm-5 col-12  ">
<div style="padding-top: 2rem; " >
<i class="fab fa-facebook-f fa-fw"style=" font-size: 2rem;  "></i>
 <i class="fab fa-twitter fa-fw"style="font-size: 2rem;"></i >
 <i class="fab fa-instagram fa-fw "style="font-size: 2rem;"></i>
 <i class="fab fa-linkedin fa-fw "style="font-size: 2rem;"></i>
<i class="fab fa-pinterest fa-fw" style="font-size: 2rem;"></i><br>
<b>Made with by KickHead Softwares Pvt. Ltd.</b>
</div>
</div>
</div>
</div>
  </footer>  
</body>
</html>