<!DOCTYPE html>
<html lang="en">
<head>
  
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/mystyle.css" />

</head>
<body>
  
  <div class="topnav">
    
  <a href="/" style="float: left;" img src="/img/logo.png">Home</a>
  
  <a href="/" class="center">Stationaire</a>
  <a href="#about" class="right">About</a>
  <a href="/login" class="right"><% if(user!=''){%><p class="text-dark"><%= user %></p><% }else{%><i class="fas fa-user"></i><%}%></a>
 <a href="#contact" class="right" ><i class="fas fa-shopping-cart"></i></a>
 <a href="#about" class="right"><i class="fas fa-search"></i></a>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
	  AOS.init(
		  {
			  offset:300,
		  }
    );
    </script>
</body>
</html>