<%- include("./header") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/mystyle.css" />
<body>
    <div class="slide" data-aos="">
        <div class="slide1">
            <img src="/img/slide1.jpg">

        </div>
    </div>
    <br>
    <br>
    <div class="wrapper">
        <div class="card" data-aos="flip-left">
            <img src="/img/notebook1.jpg">
            <div class="info">
                <h1>
                    Notebooks & Planner
                </h1>
                <a href="/books" class="btn">View more</a>

            </div>

        </div>
        <div class="card" data-aos="flip-right">
            <img src="/img/pen.jpg">
            <div class="info">
                <h1>
                    Pen & Highlighter
                </h1>
                <a href="/pen" class="btn">View more</a>

            </div>

        </div>

    </div>
    
   <br>
   <br>   
    <div class="wrapper">
        <div class="card" data-aos="flip-left">
            <img src="/img/paperclip.jpg">
            <div class="info">
                <h1>
                    Bookmark & Paper clip
                </h1>
                <a href="/paper" class="btn">View more</a>

            </div>

        </div>
        <div class="card" data-aos="flip-right">
            <img src="/img/greeting.jpg" >
            <div class="info">
                <h1>
                     Greeting Card...
                </h1>
                <a href="/greeting" class="btn">View more</a>

            </div>

        </div>

    </div>
    
    

<br>
<br>
<%- include("./footer") %>       
</body>
</html>